NEXT_PUBLIC_AUTH_API_URL='http://localhost:8090'

NEXT_PUBLIC_MAIL_API_URL='http://localhost:8090'

NEXT_PUBLIC_MAIN_API_URL='http://localhost:8090'

# Application Pagination
page_limit=10
page_offset=0