# RabbitMQ
RABBITMQ_DEFAULT_USER=sumit
RABBITMQ_DEFAULT_PASS=sumit123

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

steps to run this repo code (open 2 terminal)
1. -> docker compose up --build  (1st terminal command)
2. -> docker compose exec backend sh (2nd terminal command)
3. -> npm run build && npm run migration:auth:run && npm run seed:auth (2nd terminal command)
4. -> npm run build && npm run migration:mail:run && npm run seed:mail (2nd terminal command)
5. -> npm run build && npm run migration:main:run && npm run seed:main (2nd terminal command)
